<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Places</h2>
    <ul>
        {% for place in object_list %}
            <li>Name: {{ place.name }} | 
            Type: {{ place.type }} | 
            Price: {{ place.price }} |</li>
            Description: {{ place.description}}</li>
            <a href="{% url 'places:place_detail' place.id %}">Details</a>
        {% endfor %}
    </ul>
    <a href="/create_place">Create a new place</a>
    <a href="/logout">Logout</a>
</body>
</html>