<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8" />
    <title>places</title>
    <link rel="stylesheet" href="{% static "css/master.css" %}" />
</head>
<body>
    <ul>
        {% for place in places %}
            <li>
                <p>
                    {{ place.name}} | 
                    {{ place.get_image }} | 
                    {{ place.type_of_place }} |
                    ${{ place.price }} |
                    {{ place.city }}
                </p>
                <figure style="width: 70px;">
                    <img src="{{ place.get_image.image.url }}" />
                </figure>
        {% endfor %}
    </ul>
</body>
</html>